* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: #645cff;
}

.container {
  padding: 20px;
  background-color: rgb(242, 228, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}
p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
img {
  width: 100px;
}
.dot {
  height: 100px;
  width: 100px;
  background-color: #645cff;

  border-radius: 100%;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
td{
    background-color: rgb(255, 255, 255);
    color: rgb(78, 78, 78);
    padding: 20px;
}